body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input {
    width: 60%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
